.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-fields {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 200px;
}

.adresse {
    width: 300px;
    height: 330px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

.fieldset-item {
    margin-top: 20px;
    margin-bottom: 10px;
}

.fieldset-input {
    width: 150px;
}

.department-wrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.home-submit {
    margin-top: 20px;
    width: 100px;
    margin-left: 40%;
    margin-bottom: 100px;
}